<div class="row">
    <div class="panel-body">
        <div class="list-group">
            <h4>Seleccione el Movil del cual desea saber el saldo</h4><br />
            <select 
                ng-model="reload.Id"                 
                ng-options="option.Id as option.Mobile for option in reloads"
                class="form-control">
            </select>
            <br /><br /><br /><br />
            <table class="table">
                <tr>
                    <th colspan="3"><center>El Saldo del Movil es</center></th>
                </tr>
                <tr>                         
                    <th>Celular</th>
                    <th>Valor</th>
                    <th>Segundos</th>                                            
                </tr>                 
                <tr ng-repeat="reload in reloads | filter:reload">
                    <td>{{ reload.Mobile}}</td>
                    <td>${{ reload.Value}}</td>                            
                    <td>{{ reload.TotalSeconds}}</td>                    
                </tr>
            </table>         
        </div>
    </div>
</div>