<div class="row">
    <div class="panel-body">
        <div class="list-group">
            <h4>Recuerde que la parametrizacion actual corresponde a la fecha mas cercana al dia de hoy.</h4><br />
            <table class="table">                 
                <tr>
                    <th colspan="2"><center>Lista de Costos</center></th>
                </tr>
                <tr>                         
                    <th>Costo por Segundo</th>
                    <th>Fecha</th>                        
                </tr>                 
                <tr ng-repeat="cost in costs">
                    <td>${{ cost.Cost}}</td>
                    <td>{{ cost.DateCost}}</td>                            
                </tr>
            </table>         

            <!--            <li class="list-group-item" ng-repeat="cost in costs">
                            <a href="#/edit/{{cost.id}}">{{cost.Cost}}</a>
                            <div class="pull-right action-buttons">
                                <a href="#/edit/{{cost.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a ng-click="remove(cost.id)" class="trash"> <span class="glyphicon glyphicon-trash"></span></a>
                            </div>
                        </li>-->
        </div>
    </div>
</div>