<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        
        <div class="collapse navbar-collapse" id="navbar-brand-centered">
            <ul class="nav navbar-nav">
                <li><a href="#/costlist">Lista Costo Segundo</a></li>
                <li><a href="#/createcost">Agregar Costo</a></li>
                <li><a href="#/consumptiontlist">Historial de Consumo</a></li>
                <li><a href="#/createconsumption">Crear Consumo</a></li>
                <li><a href="#/reloadlist">Historial de Recargas</a></li>
                <li><a href="#/createreload">Recargue su cuenta</a></li>
                <li><a href="#/balance">Consultar Saldo</a></li>
            </ul>
        </div>
    </div>
</nav>