<h1>{{$parent.settings.pageTitle}}</h1>

<p ng-show="$parent.settings.success" class="alert alert-success">{{$parent.settings.success}}</p>

<div class="required-field-block">
    <input type="number" value="1000" min="0" step="0.01"
           data-number-to-fixed="2" data-number-stepfactor="100" 
           class="currency form-control" placeholder="Valor Recarga" ng-model="reload.Value" />
    <!--<input type="text" placeholder="Costo" ng-model="cost.Cost" class="form-control">-->
    <div class="required-icon">
        <div class="text">*</div>
    </div>
</div>
<!--<div class="required-field-block">
    <input type="number" value="1000" min="0" step="0.01"
           data-number-to-fixed="2" data-number-stepfactor="100" 
           class="currency form-control" placeholder="Segundos" ng-model="reload.TotalSeconds" />
    <input type="text" placeholder="Costo" ng-model="cost.Cost" class="form-control">
    <div class="required-icon">
        <div class="text">*</div>
    </div>
</div>-->
<div class="required-field-block">
    <input type="number" value="1000" min="0" step="0.01"
           data-number-to-fixed="2" data-number-stepfactor="100" 
           class="currency form-control" placeholder="Celular" ng-model="reload.Mobile" />
    <!--<input type="text" placeholder="Costo" ng-model="cost.Cost" class="form-control">-->
    <div class="required-icon">
        <div class="text">*</div>
    </div>
</div>

<div class="required-field-block">
    <input type="date" placeholder="Fecha" ng-model="reload.ReloadDate" class="form-control" required>
</div>

<button class="btn btn-primary" ng-click="submit($parent.reload)">{{$parent.settings.action}}</button>